<div class = "VideoPage-Klass Main">

	<div class = "Header-Klass">

		<h1>{{VideoPageTitle}}</h1>

	</div>


	<div class = "VideoLeft-Klass Left">
	
		<div class = "VideoPlayer-Klass">
			
			<p>Här kan det vara en videospelare kanske</p>
	
			
			<iframe width="560" height="315" 
			src="https://www.youtube.com/embed/32Snz8603xY" 
			frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
			</iframe>


		</div>
	
		<app-navigationbar></app-navigationbar>
	
	
	</div>


	<div class = "VideoRight-Klass Right">
	
	
	
	</div>

	
</div>