<div class = "WelcomePage-Klass " >

	<div class = "Header-Klass">

		<h1>{{WelcomePageTitle}}</h1>


	</div>

	<div class = "LoginLeft-Klass">

		<div class = "LoggaRuta-Klass">

			

			<img src = "http://www.catgifpage.com/gifs/318.gif" alt ="Cat gif">


		</div>

		
	
		
		
	</div>
	
	
	<div class = "LoginRight-Klass">

		<div class = "LoginRuta-Klass">
			
			<form (submit)= "LoginFunction($event)">
				
				<h2>Login</h2>

				<div >
						
					<input type = "text" placeholder = "Username"><br>
					<input type = "password" placeholder = "Password">
				
				</div>	
				
				<button type = "submit">Login!</button>

			</form>	
				
		</div>


		<div class = "SignUpRuta-Klass">

			<h2>Sign Up</h2>

			<div> 
					
				<input placeholder = "Username"><br>
				<input type = "password" placeholder = "Password"><br>
				<input type = "password" placeholder = "Repeat Password"><br>
				<input placeholder = "E-mail"><br>
			
			</div>
			
			<button >Join us! </button>
			
		</div>

	</div>


	
</div>